<!-- BODY OF SITE -->
<section class="jumbotron text-center jumbotron-section">
  <div class="container">

    <p class="button-links">
      <%= link_to "Work and Study", work_work_path, class: "btn btn-primary" %>
      <%= link_to "Contact", contacts_contactus_path, class: "btn btn-primary" %>
      <%= link_to "Old Website", home_index_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>
<div class="container-fluid bg-image">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12-col-lg12">
            hi
                <%#= image_tag("applecomputer.jpg", class: "bg-image", alt: "collection" ) %>
        </div>
    </div>
</div>

<!-- <div class="container">
    <%#= render "contacts/new"%>
</div> -->

<footer class="text-muted">
    <div class="container-fluid">
        <div class="row">
            <div class="col contact-header">
                <p>Contact:</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col contact-mobile-email">
                <p class="rotated-icon fa fa-mobile">&nbsp&nbsp&nbsp <strong>mobile: 0419-561-612</strong>  </p>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col contact-mobile-email">
                <p class="rotated-icon fa fa-envelope-o">&nbsp&nbsp&nbsp <strong>email: alex.pham2010@gmail.com</strong> </p>
            </div>
        </div>

    </div>
</footer>
