<!-- BODY OF SITE -->
<section class="jumbotron text-center jumbotron-section">
  <div class="container">

    <p class="button-links">
      <%= link_to "work and study", work_work_path, class: "btn btn-primary btn-custom" %>
      <%= link_to "contact", contacts_contactus_path, class: "btn btn-primary btn-custom" %>
      <%= link_to "blog", blog_alexblog_path, class: "btn btn-primary btn-custom" %>
      <%= link_to "old website", home_index_path, class: "btn btn-secondary btn-custom" %>
    </p>
  </div>
</section>
<div class="container-fluid bg-image">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12-col-lg12">

        </div>
    </div>
</div>
<!--
<footer class="text-muted">
    <div class="container-fluid">
        <div class="row">
            <div class="col contact-header">
                <p>Contact:</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col contact-mobile-email">
                <p class="rotated-icon fa fa-mobile">&nbsp&nbsp&nbsp <strong>mobile: 0419-561-612</strong>  </p>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col contact-mobile-email">
                <p class="rotated-icon fa fa-envelope-o">&nbsp&nbsp&nbsp <strong>email: alex.pham2010@gmail.com</strong> </p>
            </div>
        </div>

    </div>
</footer> -->
