<div class="container-fluid work-container">
    <h2 class="text-header-h2">work experience <i class="em em-thumbsup"></i> and study <i class="em em-book"></i></h2>

    <div class="row">
        <div class="col-sm-8 py-4">
            <ul class="text-ul-list">Now
                <li class="text-li-list">Study - Diploma in Information Technology -  Coder Acedemy school</br>
                    <i class="text-item-list">Learn Ruby on Rails builds web application using Ruby, Rails, Css3, Html5, Javascript, Node.js, React.js, Postgresql, Mongodb.</br></i>
                    <i class="text-item-list">Learn to use GitHub,Trello, Figma, Heroku to create user stories, wireframes, databases for  web application before to push to Github and deploying to Heroku.</br></i>
                </li>

                <li class="text-li-list">Work part time - Support worker position from Social Community, Homecare and Disability Service.</br>
                    <i class="text-item-list">Support and care for disability people, older people and illness people need helps.</i>
                </li>

                <li class="text-li-list">Community and Private</br>
                    <i class="text-item-list">volumtee worker to help disablity people from community and doing freeland small web applications using C#, .Net, Sql, MVC on .net apps, angularJs, Json.</i>
                </li>

            </ul>

        </div>

        <div class="col-sm-4 py-4"></div>
    </div> <!-- end row Now study and working part time-->

    <div class="row">
        <div class="col-sm-8 py-4">
            <ul class="text-ul-list">Family personal related  - 2014 - 2016</br>
                    <li class="text-li-list">Take time off to deal with my own health and family related.</li>
            </ul>
        </div>
        <div class="col-sm-4 py-4"></div>

    </div> <!-- end row Personal related -->

    <div class="row">
        <div class="col-sm-8 py-4">
            <ul class="text-ul-list">Transurban 2014 - 2010</br>
                <li class="text-li-list">.Net Developer</li>
            </ul>
        </div>
        <div class="col-sm-4 py-4"></div>
    </div> <!-- end row work for Transurban -->

    <div class="row">
        <div class="col-sm-8 py-4">
            <ul class="text-ul-list">IBM 2010 - 2000</br>
                <li class="text-li-list">Analyst Programmer / System Developer / Specialist Consultant</li>
            </ul>
        </div>
        <div class="col-sm-4 py-4"></div>
    </div> <!-- end row work for IBM-->

    <div class="row">
        <div class="col-sm-8 py-4">
            <ul class="text-ul-list">Westpac Banking Corporate 1998 - 2000</br>
                <li class="text-li-list">Web Developer</li>
            </ul>
        </div>
        <div class="col-sm-4 py-4"></div>
    </div> <!-- end row work for Westpac Banking-->

</div> <!-- end container -->
