<div class="container-fluid work-container">
    <h2 class="text-header-h2">Work experience and study </h2>
    <div class="row">
        <div class="col-4">
            <ul class="text-list">
                <li>Student - August 2017 - March 2-18</li>
                <li>Diploma in Information Technology</li>
                <li>Coder Acedemy school</li>
            </ul>
        </div>
        <div class="col-8">
            <li>Learn Ruby on Rails web application using Ruby, Rails, Css, Html, Javascrip, NoJs, Mongodb</li>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <ul>
                <li>July-2016 - Current</li>
                <li>Support worker part time </li>
                <li>Social Community, Homecare & Disability Service</li>
            </ul>
            <ul>
                <li>Jan-2015 - Current</li>
                <li>Freeland projects and volumtee worker</li>
                <li>Private and Community</li>
            </ul>
        </div>
        <div class="col-8">
            <ul>
                <li>Support and care for disability people, older people and illness people need help.</li>
            </ul>
            <ul>
                <li>Work on some IT projects on web applications use C#, Sql, </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <ul>
                <li>2014 - 2016</li>
            </ul>
        </div>
        <div class="col-8">
            <div class="">
                <ul>
                    <li>Family personal related</li>
                </ul>
            </div>
        </div>
    </div>



</div>
