/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

/* for testing debug to set border to see */
* {
    border: 1px solid red;
}

body {
    padding-bottom: 100px;
    background-color: #d9d9d9;

    .navbar {
        padding: 0px;
    }
    .nav-item {
        width: 300px;
    }
    // Heading starts from here
    .alex_logo {
        width: 80px;
    }
    .bg-custom-grey {
        background-color: #d9d9d9;
    }
    .navbar-dark,
    .navbar-toggler {
        color: #888888 !important;
        border-color: #888888 !important;
    }
    .text-white {
        color: #888888 !important;
    }

    .navbar-toggler-icon {

       background-color: #d9d9d9 !important;

    }
    .header-link {
        height: 120px;
        // width: 100%;
    }
    .text-orange {
        padding-top: 25px;
         color: #888888 ; // for orange to test #f50
         font-weight: bold;
         font-size: 25px;
         text-align: center;
        // height: 50%;
        //  width: 100%;
    }

    // jumbotron-section start from here
    .jumbotron-section{
            background-color: #d9d9d9;
            color: #888888;
    }


   // photo-album containter - card start from here
   .photo-album,
   .card-container {
       background-color: #d9d9d9 !important;
    //    color: #888888;
   }
   .text-on-card{
       color: #888888;
   }
  .card{
      width: 25%;
  }


    //for footer below:
    .footer {
        padding-top: 50px;
        background-color: #d9d9d9;
    }
    .contact-details{
        margin-left: 40px;
        font-size: 40px;
        font-family: sans-serif;
        color: #888888;
    }
}
