/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

/* for testing debug to set border to see */
// * {
//     border: 1px solid red;
// }

body {
    padding-bottom: 50px;
    background-color: #d9d9d9;

    .navbar {
        padding: 0px;
    }
    .nav-item {
        width: 300px;
    }
    // Heading starts from here
    .alex_logo {
        width: 80px;
    }
    .nav-alex-photo{
        width: 150px;
        height: 100%;
        border: #d9d9d9;
    }
    .text-about-me{
        font-size: 20px;
        font-weight: lighter;
        font-family:serif;
        color: #888888;
        text-align: justify;
        // padding-top: 10px;
    }
    .bg-custom-grey {
        background-color: #d9d9d9;
    }
    .home-link {
        margin-right: 20px;

    }
    .navbar-dark,
    .navbar-toggler {
        color: #888888 !important;
        border-color: #888888 !important;
    }
    .text-white {
        color: #888888 !important;
    }

    .navbar-toggler-icon {

       background-color: #d9d9d9 !important;

    }
    .header-link {
        height: 120px;
        // width: 100%;
    }
    .text-orange {
        padding-top: 25px;
         color: #888888 ; // for orange to test #f50
         font-weight: bold;
         font-size: 25px;
         text-align: center;
        // height: 50%;
        //  width: 100%;
    }

    // jumbotron-section start from here
    .jumbotron-section{
            background-color: #d9d9d9;
            color: #888888;
    }

   // div middle oh home page start from here
   // .bg-image{
   //     height: 100%;
   //     background: image-url('applecomputer.jpg') no-repeat;
   //  //    height: 250vw; // vw means viewport width
   //     background-size: cover;
   //     background-position: center;
   // }
   // photo-album containter - card start from here
   .photo-album,
   .card-container {
       background-color: #d9d9d9 !important;
    //    color: #888888;
   }
   .text-on-card{
       color: #888888;
   }
  .card{
      width: 25%;
  }


    //for footer below:

    .footer {
        padding-top: 50px;
        background-color: #d9d9d9;
    }
    .footer-contact-header{
        padding-top: 25px;
        padding-left: 25px;
        font-size: 25px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .contact-header{
        margin-left: 40px;
        padding-top: 15px;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .contact-mobile-email{
        padding-left: 30px;
        padding-top: 3px;
        // margin-left: 150px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .contact-link-icon{
        padding-left: 30px;
        font-size: 18px;
        font-weight: bold;
        image-resolution: from-image;
        background-size: contain;
        color: #888888;
    }

    .icon{
        padding-left: 40px;
        padding-right: 25px;
    }

    .fa.fa-linkedin-square, .fa-google-plus, .fa-github{
    	border-radius: 40%;
    	background:#888888;
    }
    .fa-linkedin-square{
        border-radius: 50%;
    	background:#b4b4b4;
    }
    .fa-linkedin-square:hover{
        background: #EA6212;
    }
    .fa-google-plus:hover{
    	background: #EA6212; //#EA6212
    }

    .fa-github:hover{
    	background: #EA6212; //#EA6212
    }
    .contact-details{
        margin-left: 40px;
        font-size: 40px;
        font-family: sans-serif;
        color: #888888;
    }
}
