<footer class="text-muted">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="footer-contact-header">Contact:</p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <p class="contact-mobile-email"><i class="em em-iphone"></i><strong>mobile: 0419-561-612</strong>  </p>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="contact-mobile-email"><i class="em em-incoming_envelope"></i><strong>email: alex.pham2010@gmail.com</strong> </p>
            </div>
        </div>
        <div class="row clearfix">
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 icon">
                <a class="linkedin-icon contact-link-icon fa-stack fa-2x" aria-hidden="true" href="https://www.linkedin.com/in/alex-pham-037a9a1b/" target="_blank" ><i class="fa fa-linkedin-square fa-stack-1x fa-inverse "></i></a>

                <!-- <a class="g-plus-icon contact-link-icon fa-stack fa-2x" aria-hidden="true" href="https://www.google.com/gmail/" target="_blank"><i class="fa fa-google-plus fa-stack-1x fa-inverse "></i></a> -->

                <a class="github-icon contact-link-icon
                fa-stack fa-2x" aria-hidden="true" href="https://github.com/alexsydney" target="_blank"><i class="fa fa-github fa-stack-1x fa-inverse"></i></a>
            </div>
        </div>
    </div>
</footer>
