<div class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 contact-details">
                <p><strong>Contact details</strong></p>
                <p>Mobile: <strong> 0419 561 612 </strong></p>
                <p>Email: <strong>alex.pham2010@gmail.com</strong></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="#" class="fa fa-linkedin">LinkedIn</a>
                <a href="#" class="fa fa-google-plus">GmailPlus</i></a>
                <a href="#">Resume</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

            </div>
        </div>
    </div>
</div>
