<div class="container-fluid">
    <div class="row logo-container">
        <!-- <div class="clearfix visible-xs-block"></div> -->
        <div class="col-2 logo">
            <%= image_tag("alex9.png", class: "alex_logo", alt: "alex logo") %>
        </div>
        <div class="col-10 header-link">
            <ul class="nav justify-content-end">
                <li class="nav-item ">
                    <a class="nav-link active text-orange" href="/home/index">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-orange" href="/work/work">work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-orange" href="/about/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-orange" href="/blog/alexblog">blog</a>
                </li>
            </ul>
        </div>
    </div>
</div>



<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="logo">
        <%= image_tag("alexlogo1.png", class: "alex_logo", alt: "alex logo") %>
    </div>
    <div class="collapse navbar-collapse justify-content-end header-link" id="navbarNavAltMarkup">
        <div class="navbar-nav row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <a class="nav-item nav-link active text-orange header-link" href="/home/index">home <span class="sr-only">(current)</span></a>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <a class="nav-item nav-link text-orange header-link" href="/work/work">work</a>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <a class="nav-item nav-link text-orange header-link" href="/about/about">about</a>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                    <a class="nav-item nav-link text-orange header-link" href="/blog/alexblog">blog</a>
            </div>

        </div>
    </div>
</nav> -->
